html,
body {
  height: 100%;
  width: auto;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #ffc83f;
}
.content {
  background-color: #ffc83f;
  flex-grow: 1;
}
.table > tbody > tr > td {
  border-top: none;
}
